 :root {
     --primary-color: #ff6b08f6;
     --title-text-color: #757575;
     --accent-color: #2196F3;
     --primary-white-color: #FFFFFF;
     --background-dark: #2f303a;
     --background-light: #f5f4fa;
     --primary-font-family: 'Roboto', sans-serif;
     --secondary-font-family: 'Raleway', sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin-top: 0;
     margin-bottom: 0;
 }

 ul,
 ol,
 li {
     margin-top: 0;
     margin-bottom: 0;
     padding-left: 0;

 }

 .link {
     text-decoration: none;
 }

 .list {
     list-style: none;
 }

 .container {
     width: 1600px;
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
 }
 /*===========Header=========*/

 .header-container {
     display: flex;
     align-items: center;
     background-color: rgb(255, 244, 196);
 }
  .navigation {
     display: flex;
     align-items: center;
 }
  .logo {
      font-family: var(--secondary-font-family);
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--primary-color);
      margin-right: 93px;
      margin-left: 200px;
  }
 .nav-list {
     position: relative;
     font-weight: 500; */
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: var(--primary-color); 
     display: flex;
     align-items: center; */
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 } 
  .nav-list-item:not(:last-child) {
      margin-right: 50px;
  }
 .nav-list-item {
    margin-top: 10px;
     position: relative;
 }
.contact{
    display: flex;
align-items: center;
    margin-left: auto;
    margin-right: 100px;
}
.contact-list {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .mail {
     margin-right: 50px;
 }

 /*==========HEADER END========*/
 /*==========MAIN============*/
 .hero {
     /* max-width: 500px; */
     /* margin-right: auto; */
     /* margin-left: auto; */
     /* padding: 200px 0; */



     /* background-image:url(../Blog\ teacher/images/heropng.png); */

     background-color: #fff2db;

 }
 .work-field{
width:1000px;

 }
 .hero-section{
    display: flex;
 }
.nav-left{
    width: 20%;
    /* float: left; */
    background-color: rgb(255, 236, 188);
    padding: 15px;
    text-align: left;
    /* margin-left: 30px; */
    border: #2196F3;
    border-radius: 5px;
    
}
.aside-right {
    width: 15%;
    /* float: left; */
    background-color: rgb(255, 236, 188);

    padding: 15px;
    text-align: left;
    /* margin-right: 200px; */
    border: #2196F3;
    border-radius: 5px;

}
.main-inner{
    background-color: #fce5cd;
    border: 1px solid #6aa84f;
    padding: 0 15px 15px;
    margin: 15px 10px;
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -goog-ms-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -goog-ms-border-radius: 5px;
    border-radius: 5px;
  
}
.nav-list{

}
.nav-list-item{
padding-bottom: 10px;
margin-bottom: 10px;

}
.main-inner1{
object-fit: cover;
width: 100%;
}

/*=====Section Work=======*/
.section-work {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-item {
    position: relative;
    /* margin-left:200px;
    margin-right: 200px; */
}

.desc-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}
/*===========END MAIN=========*/

.date-outer {
  position: relative;
  margin: 30px 0 20px;
    margin-top: 30px;
  padding: 0 15px;
  background-color: #ffffff;
  border: 1px solid #a64d79;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  -goog-ms-box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -goog-ms-border-radius: 5px;
  border-radius: 5px;
  margin-left: 50px;
}













/*==========FOOTER===========*/
.footer-block{
    background-color: #47360df6;
    height: 150px;
}
.footer {
/* background-color: #ffc338f6; */
    /* padding-top: 60px;
    padding-bottom: 60px; */
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.adress {
    margin-top: 20px;


}

.adress-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.adress-contakt {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-contakt:hover,
.adress-contakt:focus {
    color: var(--accent-color);
}

.adress-title {
    color: var(--primary-white-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-title:hover,
.adress-title:focus {
    color: var(--accent-color);
}

.adress-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.adress-contakt {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.social {
    margin-left: 70px;
}

.social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
}

.footer-social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-list-icon {
    fill: var(--primary-white-color);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);

}

.social-link:hover .social-list-icon,
.social-link:focus .social-list-icon {
    fill: var(--primary-white-color);
}

.subscription {
    margin-left: 93px;
}

.subscription-form {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2f303a;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
}

.subscription-list {
    display: flex;

}

.subscription-btn {
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    margin-left: 12px;
    padding: 10px 20px 10px 28px;
    border: none;
}

.subscription-list-icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
}